<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    <div class="converter-box">
        <h2>Unit Converter</h2>
        <div class="tabs">
            <a href="/lenght" class="{{ lenght }}">Length</a>
            <a href="/weight" class="{{ weight }}">Weight</a>
            <a href="/temperature" class="{{ temperature }}">Temperature</a>
        </div>
        <form method="post" action="/convert">
            <label>Enter the length to convert</label>
            <input type="text" name="value" required>
            
            <label>Unit to Convert from</label>
            <input type="text" name="from_unit" required>
            
            <label>Unit to Convert to</label>
            <input type="text" name="to_unit" required>
            
            <button type="submit">Convert</button>
        </form>
    </div>
</body>
</html>